<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<h3>Hi, Guest</h3>
<a href="/ORS/Welcome/"><b>Welcome</b></a> |
<a href="/ORS/Login/"><b>Login</b></a> |
<a href="/ORS/User/"><b>Add User</b></a> |
<a href="/ORS/Role/"><b>Add Role</b></a> |
<a href="/ORS/College/"><b>Add College</b></a> |
<a href="/ORS/Course/"><b>Add Course</b></a> |
<a href="/ORS/Subject/"><b>Add Subject</b></a> |
<a href="/ORS/Faculty/"><b>Add Faculty</b></a> |





</body>
</html>